@{
    ViewData["Title"] = "Checkout";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="head-title">
	<div class="left">
		<h1>Checkout</h1>
	</div>
</div>


<div class="box-info">
	<div class="table-data">
		<div class="order">
			<div class="head">
				<h3>Shopping Cart</h3>		
				<form action="#">
					<div class="form-input">
						<input type="search" placeholder="Search..."> <!--Search for product(name, id) and add to cart-->
						<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
					</div>
				</form>  
				<i class='bx bx-filter'></i> <!--Filter cart by name or price-->
			</div>
			<table>
				<thead>
					<tr>
						<th>Product</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Subtotal</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<tr id="row-product1">
						<td class="product-name">Mouse</td>
						<td id="price-product1">300</td>
						<td>
							<button onclick="decreaseQuantity('product1')">−</button>
							<span id="quantity-product1">1</span>
							<button onclick="increaseQuantity('product1')">+</button>
						</td>
						<td id="subtotal-product1">₱0.00</td> <!-- Initial subtotal will be calculated in JavaScript -->
						<td>
							<button onclick="removeItem('product1')">
								<a href="#" class="btn-delete">
									<i class='bx bxs-trash'></i> <!--Delete-->
								</a>
							</button>
							
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
		</div>
		</div>


    <div class="box-info" style="margin-top: 10px;">
        <h3>Summary</h3>
		<p>Date: 01/05/2025 1:32:39 AM</p> <!--GetCurrentDateTime-->
		<p>Invoice No.: 1</p>
		<p>Customer: John Doe</p>
		<p>Payment Method: COD</p>
		<br>

        <p>Subtotal: <span id="subtotal-product1">₱0.00</span></p>
			<h3>
				Total: <span id="total-amount">₱0.00</span>
			</h3>
			<button class="btn-checkout" onclick="checkout()">Checkout</button>
    </div>


